.tooltip-container {
    padding: 10px 20px;
    background-color: #343a40;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    color: #fff;
    min-width: 250px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}


.tooltip-title-section {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    gap: 15px;
}

.tooltip-title {
    font-weight: 700;
    font-size: 20px;
}

.tooltip-date {
    font-size: 12px;
    justify-self: flex-end;
}

.tooltip-score-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.satisfaction-title {
    font-size: 12px;
    font-weight: 600;
}

.tooltip-extra-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

}

.tooltip-clinician, .tooltip-assessment-type {
    font-size: 14px;
    color: grey;
}


.tooltip-clinician {
    align-self: flex-end;
}

.positive-tooltip-score, .negative-tooltip-score {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

.positive-tooltip-score {
    color: green;
}

.negative-tooltip-score {
    color: red;
}

.tooltipMiniContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 14px;
}

.metric-title {
    font-size: 12px;
    color: grey;
}

.metric-data {
    color: #fff;
}

.metric-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}