.data-snapshot-div {
  background-color: var(--content-background-colour);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--125-spacing);
  grid-area: 1 / 1 / 13 / 3;
}

@media (min-width:64rem) {
  .data-snapshot-div {
    flex-direction: column;
  }
}