.graph-container {
  grid-area: 1 / 3 / 10 / 13;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.graph-div {
  width: 100%;
  padding: var(--500-spacing);
  background-color: var(--constrast-background-colour);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.graph-div {
  height: 100%;
  width: 100%;
}