
.ellipsis-section {
    position: relative;
    z-index: 2;
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.ellipsis-tag {
    padding: 5px 10px;
    cursor: pointer;
}

.ellipsis-tag:hover {
    background-color: lightgreen;
}

.edit-container {
    position: absolute;
    z-index: 2;
    background-color: #fff;
    transform: translateY(-100px) translateX(-300px);
    padding: 20px;
}