
.ellipsis-section {
    position: absolute;
    z-index: 3;
    transform: translateY(-10px) translateX(-15px);
    z-index: 2;
    background-color: #fff;
    border: 1px solid var(--light-background-gray);
    border-radius: 5px;
}

.ellipsis-tag {
    padding: 5px 10px;
    cursor: pointer;
}

.ellipsis-tag:hover {
    background-color: var(--light-primary-colour);
}

.edit-container {
    position: absolute;
    z-index: 2;
    background-color: var(--light-background-gray);
    border: grey solid 1px;
    border-radius: 5px;
    transform: translateY(0) translateX(-250px);
    padding: 10px;
    min-width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.edit-container h1 {
    font-size: 20px;
}

.textArea {
    width: 100%;
}

.close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 16px;
}

.close-button:hover {
    color: red;
    transform: rotate(180deg);
    transition: ease-in-out 1s;
}

.submit-button {
    background-color: var(--primary-colour);
    color: var(--light-text-colour);
    padding: 5px 10px;
    border-radius: 5px;
    border: transparent;
    width: 100%;
}

.delete-container {
    position: absolute;
    z-index: 2;
    background-color: var(--light-background-gray);
    border: grey solid 1px;
    border-radius: 5px;
    transform: translateY(0) translateX(-100px);
    padding: 10px;
    min-width: 10vw;
    padding: 20px;
}

@media (min-width: 64rem) {
    
.edit-container {
    transform: translateY(-100px) translateX(-750px);
    min-width: 25vw;
}

}