.settings-page {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    height: 100%;
}

.setting-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 2px solid #E0E0E0;
    margin-bottom: 10px;

}

.settings-tag {
    padding: 5px 10px;
    background-color: #fff;
    font-size: 14px;
    cursor: pointer;
    flex: 1;
    text-align: center;
}

.active-tag {
    background-color: var(--light-background-gray);
}

.clinicians-tag {
    border-top-left-radius: 5px;
}

.questions-tag {
    border-top-right-radius: 5px;
}

.settings-content-container {
    flex: 1;
}

@media (min-width: 64rem) {
    
.settings-page {
    padding: 25px;
}

}