.headerDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--constrast-background-colour);
    padding: var(--250-spacing) var(--500-spacing);
}

.filterContainer {
    display: flex;
    flex-direction: row;
    gap: var(--125-spacing);
}