.report-page-section {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.data-feedback-section {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 10px;
    grid-template-rows: repeat(12, minmax(0, 1fr));
    row-gap: 10px;
    min-height: 0;
}

.feedback-card {
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}


.feedback-card h1 {
    font-size: 16px;
}

.data-container-feedback {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.data-title {
    padding: 10px 20px;
    background-color: #00a200;
    border-radius: 5px 5px 0 0;
    color: white;
}