.top-left {
    grid-area: 1 / 1 / 8 / 7;
}

.top-right {
    grid-area: 1 / 7 / 8 / 13;
}

.bottom-left {
    grid-area: 8 / 1 / 13 / 5 ;
}

.bottom-centre {
    grid-area: 8 / 5 / 13 / 9 ;
}

.bottom-right {
    grid-area: 8 / 9 / 13 / 13 ;
}