
.clinician-section-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 10px;
}

.clinician-card-section {
    padding: 10px 0;
}

.clinician-holder {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.clinician-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 50px;
    padding: 10px;
    border-bottom: 1px solid #E0E0E0;
}

.clinician-card-container p {
    font-size: 12px;
}

.grid-header p {
    text-transform: uppercase;
    color: #858585;
}

.clinician-role-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    width: fit-content;
    padding: 2px 10px;
    border-radius: 5px;
}

.role-icon {
    font-size: 10px;
}

.ellipsis:hover {
    background-color: var(--light-background-gray);
    border-radius: 5px;
    cursor: pointer;
}

.ellipsis-wrapper {
    position: absolute;
    justify-self: center;
}

.ellipsis {
    position: relative;
}

.ellipsis-dropdown {
    position: absolute;
}


.new-clinician-button {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    border: transparent;
    background-color: var(--primary-colour);
    color: #fff;
    width: 100%;
}

.new-clinician-button:active {
    transform: scale(0.95);
}

.physiotherapist {
    background-color: var(--light-primary-colour);
}

.physiologist {
    background-color: lightblue;
}

.doctor {
    background-color: lightcoral;
}

.clinician-count {
    font-size: 14px;
}

.clinician-dropdown {
    padding: 2px 5px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    gap: 5px;
}

.physiotherapist-button {
    padding: 5px 10px;
    cursor: pointer;
    border: transparent;
    border-radius: 0 5px 5px 0;
    flex: 1;
}

.physiologist-button {
    padding: 5px 10px;
    cursor: pointer;
    border: transparent;
    border-radius: 5px 0 0 5px;
    flex: 1;
}

.doctor-button {
    padding: 5px 10px;
    cursor: pointer;
    border: transparent;
}

.active-filter-button {
    background-color: var(--light-primary-colour);
}

.assessment-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
}

@media (min-width: 64rem) {

.button-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0;
}

.assessment-buttons {
    width: fit-content;
}

.new-clinician-button {
    width: fit-content;
}

.clinician-card-container p {
    font-size: 14px;
}

}