
.clinician-section-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 10px;
}

.clinician-card-section {
    padding: 10px 0;
}

.clinician-holder {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.clinician-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 50px;
    padding: 10px;
    border-bottom: 1px solid #E0E0E0;
}

.clinician-card-container p {
    font-size: 14px;
}

.grid-header p {
    text-transform: uppercase;
    color: #858585;
}

.clinician-role-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    width: fit-content;
    padding: 2px 10px;
    border-radius: 5px;
}

.role-icon {
    font-size: 10px;
}

.ellipsis:hover {
    background-color: lightgray;
    border-radius: 5px;
    cursor: pointer;
}

.ellipsis-wrapper {
    position: absolute;
    justify-self: center;
}

.ellipsis {
    position: relative;
}

.ellipsis-dropdown {
    position: absolute;
}


.new-clinician-button {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    border: transparent;
    background-color: green;
    color: #fff;
}

.new-clinician-button:active {
    transform: scale(0.95);
}

.physiotherapist {
    background-color: lightgreen;
}

.physiologist {
    background-color: lightblue;
}

.doctor {
    background-color: lightcoral;
}

.clinician-count {
    font-size: 14px;
}

.clinician-dropdown {
    padding: 2px 5px;
}



.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}