.filter-container {
    display: flex;
    flex-direction: column;
    gap: var(--125-spacing);
}

.user-button {
    display: none;
}

@media (min-width: 64rem) {
    .filter-container {
        flex-direction: row;
        gap: var(--125-spacing);
    }
    .userButton {
        display: block;
    }
}