.header-div {
    background-color: red;
    grid-area: 1 / 1 / 2 / 13 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--constrast-background-colour);
    /* margin: var(--500-spacing) var(--1000-spacing) 0 var(--1000-spacing);*/
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.page-title {
    font-size: 20px;
}

@media (min-width: 64rem) {
    
    .header-div {
        flex-direction: row;
        padding: 10px 20px;
        margin: var(--500-spacing) var(--1000-spacing) 0 var(--1000-spacing);
    }

    .page-title {
        font-size: 25px;
    }

}