.navbar-dropdown {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: var(--750-spacing);
    padding: var(--375-spacing) 0;
    width: 100%; 
    padding: 0 10px;
}

.navbar-option, .active-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px;
    border-radius: var(--125-spacing);
    width: 100%;
    color: #757575;
    text-decoration: none;
    font-size: var(--fs-small);
}

.navbar-icon {
    padding: 7px;
    color: #757575;
}

.active-nav {
    background-color: var(--positive-background-colour);
    box-shadow: 0 2px 2px #d9d9d9;
    color: var(--primary-colour);
}

.active-nav .navbar-icon {
    color: var(--primary-colour);
}