.loading-layout {
    height: 100vh;
    width: 100vw;
    background-color: #fffff2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-container {
    background-color: #f9f1f1;
    padding: 75px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.loading-text {
    font-size: 16px;
}

.loading-icon {
    font-size: 25px;
    animation: pulse 1s ease-in-out infinite;
    color: #e63946;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}