.dataSnapshotDiv {
  background-color: var(--content-background-colour);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.snapshotCard {
  width: 200px; /*REMOVE*/
  display: flex;
  flex-direction: column;
  padding: var(--375-spacing);
  gap: var(--125-spacing);
  background-color: var(--constrast-background-colour);
  cursor: pointer;
  border-radius: var(--125-spacing);
}

.activeDataSnap {
  background-color: var(--primary-colour);
  color: var(--light-text-colour);
}

.snapshotTitle {
  font-size: var(--fs-small);
  color: var(--dark-text-colour); 
}

.snapshotData {
  font-size: var(--fs-xLarge);
}

.snapshotDataCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--125-spacing);
  background-color: var(--positive-background-colour);
  border: 1px solid transparent;
  border-radius: var(--125-spacing);
  width: fit-content;
  padding: 0 var(--125-spacing);
}