:root {
  --primary-colour: #00a200;
  --content-background-colour: #e0e0e0;
  --constrast-background-colour: #fff;
  --light-text-colour: #fff;
  --dark-text-colour: #0c0908;
  --negative-colour: #ff3b30;
  --positive-colour: #00a200;
  --positive-background-colour: #e6f9e6;
  --negative-background-colour: #ffe6e6;

  --125-spacing: 5px;
  --250-spacing: 10px;
  --375-spacing: 15px;
  --500-spacing: 20px;
  --750-spacing: 30px;
  --1000-spacing: 40px;

  --fs-small: 14px;
  --fs-medium: 16px;
  --fs-large: 20px;
  --fs-xLarge: 25px;

}

.filterComponent {
    position: relative;
    display: flex;
    flex-direction: column;
}

.filterTitleCard {
    flex: 1;
    border: solid 1px var(--primary-colour);
    border-radius: var(--125-spacing);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--constrast-background-colour);
    cursor: pointer;
    max-width: 20vw;
    padding: 0 var(--250-spacing);
    gap: var(--500-spacing);
    font-size: var(--fs-small);
}

.titleIconDiv {
    display: flex;
    flex-direction: row;
    gap: var(--125-spacing);
    align-items: center;
}


.dropdownIcon {
    color: var(--primary-colour);
}

.hide {
    display: none;
}

.dropdownOptionComponent {
    margin-top: var(--250-spacing);
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: var(--250-spacing);
    background-color: white;
    padding: var(--500-spacing) 0;
    border-radius: var(--125-spacing);
    border: solid 1px var(--primary-colour);
    width: 100%;
}

.dropdownOption {
    padding: var(--250-spacing) var(--500-spacing);
    cursor: pointer;
}

.dropdownOption:hover {
    background-color: var(--positive-background-colour);
}

.active {
    background-color: var(--positive-background-colour);
}