:root {
  --primary-colour: #00a200;
  --content-background-colour: #e0e0e0;
  --constrast-background-colour: #fff;
  --light-text-colour: #fff;
  --dark-text-colour: #0c0908;
  --negative-colour: #ff3b30;
  --positive-colour: #00a200;
  --positive-background-colour: #e6f9e6;
  --negative-background-colour: #ffe6e6;

  --125-spacing: 5px;
  --250-spacing: 10px;
  --375-spacing: 15px;
  --500-spacing: 20px;
  --750-spacing: 30px;
  --1000-spacing: 40px;

  --fs-small: 14px;
  --fs-medium: 16px;
  --fs-large: 20px;
  --fs-xLarge: 25px;

}


.navbarDropdown {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: var(--750-spacing);
    padding: var(--375-spacing) 0;
    width: 200px; 
}

.navbarOption, .activeNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--250-spacing);
    padding: 2px;
    border-radius: var(--125-spacing);
    width: 100%;
    color: var(--light-text-colour);
    text-decoration: none;
    font-size: var(--fs-small);
}

.navbarIcon {
    padding: 7px;
    color: var(--light-text-colour);
}

.activeNav {
    background-color: var(--constrast-background-colour);
    box-shadow: 0 2px 2px #d9d9d9;
    color: var(--dark-text-colour);
}

.activeNav .navbarIcon {
    color: var(--dark-text-colour);
}