:root {
  --primary-colour: #00a200;
  --content-background-colour: #e0e0e0;
  --constrast-background-colour: #fff;
  --light-text-colour: #fff;
  --dark-text-colour: #0c0908;
  --negative-colour: #ff3b30;
  --positive-colour: #00a200;
  --positive-background-colour: #e6f9e6;
  --negative-background-colour: #ffe6e6;
}



.filterComponent {
    position: relative;
    display: flex;
    flex-direction: column;
}

.filterTitleCard {
    flex: 1;
    border: solid 1px var(--primary-colour);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--constrast-background-colour);
    cursor: pointer;
    max-width: 20vw;
    padding: 0 10px;
    gap: 20px;
}

.titleIconDiv {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}


.dropdownIcon {
    color: var(--primary-colour);
}

.hide {
    display: none;
}

.dropdownOptionComponent {
    margin-top: 10px;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    padding: 20px 0;
    border-radius: 5px;
    border: solid 1px var(--primary-colour);
    width: 100%;
}

.dropdownOption {
    padding: 10px 20px;
    cursor: pointer;
}

.dropdownOption:hover {
    background-color: var(--positive-background-colour);
}