.navbarDropdown {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 15px;
    padding: 15px 0;
    width: 200px; 
}

.navbarOption, .activeNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 2px;
    border-radius: 5px;
    width: 100%;
    color: #7D7E8C;
    text-decoration: none;
    font-size: 14px;
}

.navbarIcon {
    padding: 7px;
    color: #7D7E8C;
}

.activeNav {
    background-color: #00A200;
    box-shadow: 0 2px 2px #d9d9d9;
    color: black;
}

.activeNav .navbarIcon {
    background-color: #00A200;
    color: black;
}