.navbarDropdown {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
    padding: 15px 10px;
    width: 200px; 
    background-color: #fdfffc;
    border-right: 1px solid #d9d9d9; 
}

.navbarOption {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 2px;
    border-radius: 5px;
    width: 100%;
    color: #212427;
    text-decoration: none;
}

.navbarIcon {
    padding: 5px;
    border: solid 1px #d9d9d9;
    border-radius: 5px;
}

.activeBar {
    background-color: #E6F5EE;
    box-shadow: 0 2px 2px #d9d9d9;
}