.filterComponent {
    position: relative;
    display: flex;
    flex-direction: column;
}

.filterTitleCard {
    flex: 1;
    border: solid 1px var(--primary-colour);
    border-radius: var(--125-spacing);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--constrast-background-colour);
    cursor: pointer;
    max-width: 20vw;
    padding: var(--125-spacing) var(--250-spacing);
    gap: var(--500-spacing);
    font-size: var(--fs-small);
}

.titleIconDiv {
    display: flex;
    flex-direction: row;
    gap: var(--125-spacing);
    align-items: center;
    flex: 1;
}


.dropdownIcon {
    color: var(--primary-colour);
}

.hide {
    display: none;
}

.dropdownOptionComponent {
    margin-top: var(--250-spacing);
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: var(--250-spacing);
    background-color: white;
    padding: var(--500-spacing) 0;
    border-radius: var(--125-spacing);
    border: solid 1px var(--primary-colour);
    width: 100%;
    max-height: 350px;
    overflow: scroll;
}

.dropdownOption {
    padding: var(--250-spacing) var(--500-spacing);
    cursor: pointer;
}

.dropdownOption:hover {
    background-color: var(--positive-background-colour);
}

.active {
    background-color: var(--positive-background-colour);
}

.titleFilter {
    width: 100%;
    background: green;
    border-radius: 5px 5px 0 0;
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    align-items: center;
    color: white;
}

.titleFilter .dropdownIcon {
    color: white;
}

.QuestionDropdown {
    max-height: 200px;
    overflow: scroll;
}
