.reportPageSection {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.dataFeedbackSection {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 10px;
    grid-template-rows: repeat(12, minmax(0, 1fr));
    row-gap: 10px;
    min-height: 0;
}

.topLeft {
    grid-area: 1 / 1 / 8 / 7;
}

.topRight {
    grid-area: 1 / 7 / 8 / 13;
}

.bottomLeft {
    grid-area: 8 / 1 / 13 / 5 ;
}

.bottomCentre {
    grid-area: 8 / 5 / 13 / 9 ;
}

.bottomRight {
    grid-area: 8 / 9 / 13 / 13 ;
}

.feedbackCard {
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.feedbackCard h1 {
    font-size: 16px;
}

.graph {
    border: 15px solid green;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Clinician Leaderboard */

.clinicianLeaderboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.leaderboardItem {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
}

.clinicianTitle {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.dataTitle {
    padding: 10px 20px;
    background-color: #00a200;
    border-radius: 5px 5px 0 0;
    color: white;
}

.units {
    margin-left: 5px;
    font-weight: normal;
    font-size: 14px;
}

.clinicianScore {
    font-size: 20px;
    font-weight: 700;
    color: #333333;
}

.medalIcon {
    color: gold;
}

/* NEW */


.dataContainerFeedback {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.circleGraphPercent {
    font-weight: 700;
    font-size: 25px;
}

.circleGraphText {
    font-size: 14px;
}

.gold {
    color: #FFD700;
}

.silver {
    color: #C0C0C0;
}

.bronze {
    color: #CD7F32;
}

.clinicianFilterContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.averageButton, .countButton {
    cursor: pointer;
    padding: 5px 10px;
    border: transparent;
}

.activeButton {
    background-color: #7CDF7C;
}

.averageButton {
    border-radius: 5px 0 0 5px;
}

.countButton {
    border-radius: 0 5px 5px 0;
}

.questionTitle {
    font-size: 14px;
    text-align: center;
    color: #757575;
    font-style: italic;
}