.reportPageSection {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.dataFeedbackSection {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 10px;
    grid-template-rows: repeat(12, 1fr);
    row-gap: 10px;
}

.topLeft {
    grid-area: 1 / 1 / 7 / 7;
}


.topRight {
    grid-area: 1 / 7 / 7 / 13;
}

.bottomLeft {
    grid-area: 7 / 1 / 13 / 5 ;
}

.bottomCentre {
    grid-area: 7 / 5 / 13 / 9 ;
}

.bottomRight {
    grid-area: 7 / 9 / 13 / 13 ;
}

.feedbackCard {
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.feedbackCard h1 {
    font-size: 16px;
}

.graphDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.graph {
    border: 15px solid green;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clinicianLeaderboard {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.leaderboardItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}