.headerDiv {
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--constrast-background-colour);
}

.filterContainer {
    display: flex;
    flex-direction: row;
    gap: var(--125-spacing);
}