.question-title {
    font-size: 12px;
    text-align: center;
    color: #757575;
    font-style: italic;
}

.question-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}

.pie-chart-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    height: 100%;
}

.toggle-container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.data-title {
    padding: 10px 20px;
    background-color: #00a200;
    border-radius: 5px 5px 0 0;
    color: white;
    font-size: 16px;
}

.feedback-card {
    flex: 1;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.feedback-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    height: 250px;
}

.icon-arrow {
    cursor: pointer;

}

.filter-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media (min-width: 64rem) {

.feedback-card {
    height: 100%;
}

}