
.positive-comment, .negative-comment {
  padding: var(--500-spacing);
  border-radius: var(--125-spacing);
  display: flex;
  flex-direction: column;
  gap: var(--125-spacing);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.positive-comment, .negative-comment {
  display: flex;
  flex-direction: column;
  gap: var(--125-spacing);
}

.positive-comment {
  background-color: var(--positive-background-colour);
}

.negative-comment { 
  background-color: var(--negative-background-colour);
}


.comment-text {
  font-style: italic;
  font-size: var(--fs-small);
  text-align: center;
}

.comments-rating {
  justify-self: baseline;
}

.comment-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  font-size: var(--fs-small);
  color: grey;
}

.comment-time {
  justify-self: end;
}

@media (min-width: 64rem) {
  
.positive-comment, .negative-comment {
  gap: var(--500-spacing);
}

.comment-text {
  text-align: start;
}


}

/* HOMEPAGE CSS */

.comment-info-three {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  font-size: var(--fs-small);
  color: grey;
}

.starIcon {
  color: #F8DE7E;
}

.unStaredIcon {
  color: lightgrey;
}

@media (min-width: 64rem) {

.comment-info-three {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  font-size: var(--fs-small);
  color: grey;
}

}