
.signIn-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
background: radial-gradient(circle,rgba(0, 162, 0, 1) 0%, rgba(194, 255, 194, 1) 100%);
    
}

.signIn-card {
    width: 25vw;
    background-color: #fff;
    padding: 30px;
    border: transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.signIn-title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.signIn-text {
    font-size: 14px;
    color: grey;
    text-align: center;
}

.signIn-button, .form-button {
  background-color: var(--primary-colour);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}

.demo-card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 10px;
}

.demo-title {
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    color: #596475;
}

.demo-pass, .demo-user {
    font-size: 14px;
    color: #596475;
    text-align: center;
}

.signIn-button:hover, .form-button:hover {
  background-color: rgba(0, 162, 0, 0.95);
}

.form-text {
    font-size: 14px;
    color: #596475;
    text-align: center;
    padding-bottom: 5px;
}

.login-details {
    color: black;
}

.portal-layout {
    display: flex;
    flex-direction: column;
    padding: 5px;
    height: 5vh;
}

.sidebar-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--constrast-background-colour);
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
    margin-bottom: 5px;
}

.nav-button {
    display: block;
}

.image-container {
    height: 5vh;
    width: fit-content;
    padding: 10px;
}

.content-div {
    flex: 1;
    background-color: var(--content-background-colour);
    min-height: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 5px;
}

.nuffield-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.content-area {
    background-color: var(--content-background-colour);
    min-height: 0;
    grid-area: 2 / 1 / 13 / 13;
    height: 100%;
}

.homepage {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    height: 100%;
}

@media (min-width: 64rem) {

.portal-layout {
    flex-direction: row;
    padding: 0;
}

.sidebar-div {
    width: 10vw;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

.image-container {
    height: 10vh;
    width: 100%;
    padding: 10px;
}

.nav-button {
    display: none;
}

.content-area {
    padding: var(--500-spacing) var(--1000-spacing);
}

.content-div {
    gap: 0;
    height: 100vh;
}

}