.portalLayout {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sidebarDiv {
    width: 10vw;
    background-color: var(--constrast-background-colour);
}

.contentDiv {
    flex: 1;
    background-color: var(--content-background-colour);
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.imageContainer {
    height: 10vh;
    width: 100%;
    padding: 10px;
}

.nuffieldLogo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.contentArea {
    background-color: var(--content-background-colour);
    padding: var(--500-spacing) var(--1000-spacing);
    flex: 1;
    min-height: 0;
}

.resetButton {
    background-color: #F5F5F5;
    padding: 5px 10px;
    border-radius: 5px;
    border: #E0E0E0 solid 2px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.tooltipContainer {
    padding: 20px;
    background-color: #F5F5F5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
}

.tooltipTitle {
    font-weight: 700;
}

.positiveTooltipScore, .negativeTooltipScore {
    font-weight: 600;
    align-self: center;
    font-size: 18px;
}

.positiveTooltipScore {
    color: green;
}

.negativeTooltipScore {
    color: red;
}

.tooltipMiniContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 14px;
}