.portalLayout {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sidebarDiv {
    padding: var(--500-spacing) var(--250-spacing);
    background-color: var(--primary-colour);
}

.contentDiv {
    flex: 1;
    background-color: var(--content-background-colour);
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.imageContainer {
    width: 200px;
    padding: 0 var(--750-spacing);
}

.nuffieldLogo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.contentArea {
    background-color: var(--content-background-colour);
    padding: var(--500-spacing) var(--1000-spacing);
    flex: 1;
    min-height: 0;
}

.resetButton {
    background-color: #F5F5F5;
    padding: 5px 10px;
    border-radius: 5px;
    border: #E0E0E0 solid 2px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}