.portal-layout {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sidebar-div {
    width: 10vw;
    background-color: var(--constrast-background-colour);
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
    height: 100vh;
}

.content-div {
    flex: 1;
    background-color: var(--content-background-colour);
    min-height: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 100vh;
    width: 100%;
}

.image-container {
    height: 10vh;
    width: 100%;
    padding: 10px;
}

.nuffield-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.content-area {
    background-color: var(--content-background-colour);
    padding: var(--500-spacing) var(--1000-spacing);
    min-height: 0;
    grid-area: 2 / 1 / 13 / 13;
    height: 100%;
}

.homepage {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    height: 100%;
}

