.portalLayout {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.sidebarDiv {
    padding: var(--500-spacing) var(--250-spacing);
    background-color: var(--primary-colour);
}

.contentDiv {
    flex: 1;
    height: 100%;
    background-color: var(--content-background-colour);
}

.imageContainer {
    width: 200px;
    padding: 0 var(--750-spacing);
}

.nuffieldLogo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.contentArea {
    background-color: var(--content-background-colour);
    padding: var(--500-spacing) var(--1000-spacing);
}