
.portalLayout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.upperDiv {
    min-height: 60px;
    background-color: #fdfffc;  
    border-bottom: 1px solid #d9d9d9; 
    display: flex;
    flex-direction: row;
}

.contentDiv {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.imageContainer {
    width: 200px;
    padding: 0 40px;
    border-right: 1px solid #d9d9d9; 
}

.nuffieldLogo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.home {
    flex: 1;
    padding: 15px 40px;
    background-color: #f3f5f9;
}