
.portalLayout {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sidebarDiv {
    padding: 20px 0;
    height: 100%;
    background-color: #F3F5F9;
}

.contentDiv {
    flex: 1;
    padding: 20px;
    background-color: #F3F5F9;
}

.imageContainer {
    width: 200px;
    padding: 0 40px;
}

.nuffieldLogo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.home {
    flex: 1;
    padding: 15px 40px;
    background-color: #FFF;
    border-radius: 5px;
    height: 90vh;
}
