:root {
  --primary-colour: #00a200;
  --content-background-colour: #e0e0e0;
  --constrast-background-colour: #fff;
  --light-text-colour: #fff;
  --dark-text-colour: #0c0908;
  --negative-colour: #ff3b30;
  --positive-colour: #00a200;
  --positive-background-colour: #e6f9e6;
  --negative-background-colour: #ffe6e6;
}

.portalLayout {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sidebarDiv {
    padding: 20px 10px;
    height: 100%;
    background-color: var(--primary-colour);
}

.contentDiv {
    flex: 1;
    height: 100%;
    background-color: var(--content-background-colour);
    padding: 20px 20px;
}

.imageContainer {
    width: 200px;
    padding: 0 30px;
}

.nuffieldLogo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
