
.portalLayout {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sidebarDiv {
    padding: 20px 10px;
    height: 100%;
    background-color: #F5F5F5;
}

.contentDiv {
    flex: 1;
    height: 100%;
    padding: 20px 20px;
}

.imageContainer {
    width: 200px;
    padding: 0 30px;
}

.nuffieldLogo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}