
.portal-layout {
    display: flex;
    flex-direction: column;
    padding: 5px;
    height: 5vh;
}

.sidebar-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--constrast-background-colour);
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
    margin-bottom: 5px;
}

.nav-button {
    display: block;
}

.image-container {
    height: 5vh;
    width: fit-content;
    padding: 10px;
}

.content-div {
    flex: 1;
    background-color: var(--content-background-colour);
    min-height: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 5px;
}

.nuffield-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.content-area {
    background-color: var(--content-background-colour);
    min-height: 0;
    grid-area: 2 / 1 / 13 / 13;
    height: 100%;
}

.homepage {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    height: 100%;
}

@media (min-width: 64rem) {

.portal-layout {
    flex-direction: row;
    padding: 0;
}

.sidebar-div {
    width: 10vw;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

.image-container {
    height: 10vh;
    width: 100%;
    padding: 10px;
}

.nav-button {
    display: none;
}

.content-area {
    padding: var(--500-spacing) var(--1000-spacing);
}

.content-div {
    gap: 0;
    height: 100vh;
}

}