@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background-colour: #FDFFFC;
  --secondary-background: #F3F5F9;
  --primary-colour: #00A200;
  --secondary-colour: #E6F5EE;
  --black-colour: #1D1B20;
  --white-colour: #FDFFFC;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'poppins';
}

/**/

.dataSnapshotDiv {
  margin-top: 15px; /*REMOVE*/
  background-color: var(--background-colour);
  padding: 10px 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.snapshotCard {
  width: 200px; /*REMOVE*/
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 4px;
  background-color: var(--secondary-background);
  cursor: pointer;
}

.snapshotTitle {
  font-size: 16px;
  color: #9F9D9D; 
}

.snapshotData {
  font-size: 24px;
}

.snapshotDataCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  background-color: #E6F5EE;
  border: 1px solid transparent;
  border-radius: 5px;
  width: fit-content;
  padding: 0 4px;
}

.positive {
  color: var(--primary-colour);
}

.negative {
  color: red;
}



/**/ 
.graphDiv {
  margin-top: 15px;
  width: 100%;
  height: 350px;
  background-color: var(--white-colour);
}

/* Comments Section*/

.commentsDiv {
  display: flex;
  flex-direction: row;
  gap: 25px;
}



.positiveComment, .negativeComment {
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;

}

.commentText {
  font-style: italic;
}

.commentInfo {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.commentClinician, .commentTime {
  font-size: 14px;
}

.positiveComment {
  background-color: lightgreen;
}

.negativeComment { 
  background-color: lightcoral;
}