
.login-layout {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 100px;
    background: grey;
    border-radius: 5px;
}

.login-icon {
    font-size: 50px;
    color: blue;
}

.input-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: grey;
    background-color: lightgray;
    border: transparent;
    border-radius: 5px;
    padding: 5px;
}

.username, .password {
    width: 100%;
    padding: 5px;
    border: transparent;
    border-radius: 5px;
    background-color: transparent;
}

.login-button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: transparent;
    background-color: #fff;
    cursor: pointer;
}