.clinician-leaderboard {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.leaderboard-item {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
}

.clinician-title {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.units {
    margin-left: 5px;
    font-weight: normal;
    font-size: 14px;
}

.clinician-score {
    font-size: 20px;
    font-weight: 700;
    color: #333333;
}

.medal-icon {
    color: gold;
}

.feedback-card {
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    height: 250px;
}

.feedback-card h1 {
    font-size: 16px;
}

.clinician-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.filter-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.gold {
    color: #FFD700;
}

.silver {
    color: #C0C0C0;
}

.bronze {
    color: #CD7F32;
}

.data-title {
    padding: 10px 20px;
    background-color: #00a200;
    border-radius: 5px 5px 0 0;
    color: white;
}


@media (min-width: 64rem) {

.feedback-card {
    height: 100%;
}

}