.questionTitle {
    font-size: 14px;
    text-align: center;
    color: #757575;
    font-style: italic;
}

.pieChartContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 30px;
} /* Twice */

.dataTitle {
    padding: 10px 20px;
    background-color: #00a200;
    border-radius: 5px 5px 0 0;
    color: white;
}