.question-title {
    font-size: 14px;
    text-align: center;
    color: #757575;
    font-style: italic;
}

.pie-chart-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 30px;
}

.data-title {
    padding: 10px 20px;
    background-color: #00a200;
    border-radius: 5px 5px 0 0;
    color: white;
}

.feedback-card {
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}
