.comment-layout {
  display: flex;
  flex-direction: column;
  gap: var(--500-spacing);
  padding: 5px;
}

.comment-container {
  display: flex;
  flex-direction: column;
  gap: var(--250-spacing);
  overflow: scroll;
}

.comment-dropdowns {
  display: flex;
  flex-direction: row;
  gap: var(--500-spacing);
}

.comment-filters {
  display: none;
}

@media (min-width: 64rem) {

.comment-layout {
  display: flex;
  flex-direction: column;
  gap: var(--500-spacing);
  height: 100%;
}

.comment-filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

}